*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: #aa2323;
  width: 700px;
  grid-auto-rows: 200px;
}

.container .child{
  background-color: white;
 display: flex;
       justify-content: center;
       align-items: center;
  
}
